*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
}

h1 {
    font-size: 23px;
    font-weight: 500;
    line-height: 23px;
    margin-left: .5rem;
}

h2 {
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.wrapper {
    height: 100vh;
    position: relative;
}

.message {
    color: rgba(0,0,0,0.1);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: -1.5rem;
    position: absolute;
    top: 50%;
    width: 100%;
}

.viewport-type {
    font-weight: 700;
}

.viewport-handheld {
    background-color: #fff;
    color: #222;
}

.viewport-mini {
    background-color: #ccc;
    color: #222;
}

.viewport-tablet {
    background-color: #666;
    color: #fff;
}

.viewport-widescreen {
    background-color: #333;
    color: #fff;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    background-color: rgba(0,0,0,0.25);
    margin: .5rem;
    padding: .5rem 1rem;
    flex: 1 1 auto;
}

.card-heading,
.card-address,
.card-latlong {
    margin: 0;
}

.has-sidebar {
    display: flex;
    flex-wrap: wrap;

    .content-main {
        padding-right: 24px;
        width: 75%;
    }

    .sidebar {
        background-color: rgba(0,0,0,0.25);
        padding: 0 24px 24px;
        width: 25%;
    }
}