<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>Viewport</title>

        <link href="demo/app.css" rel="stylesheet">
        <script src="demo/app.js"></script>
    </head>
    <body role="document" ng-controller="HomeController">
        <div class="wrapper"
            ng-class="hasSidebar ? 'has-sidebar' : ''">

            <main class="content-main">
                <h4 class="message"><span class="viewport-type">{{ viewportType }}</span></h4>
                <h1 class="main-heading">{{ dataListSize }}</h1>
                <h2 class="subheading">San Francisco Bicycle Parking</h2>
                <ul class="card-list">
                    <li class="card" ng-repeat="item in data">
                        <h3 class="card-heading">{{ item[9] }}</h3>
                        <span class="card-address">{{ item[8] }}</span>
                        <span class="card-latlong">Lat, Long: {{ item[16][1] }}, {{ item[16][2] }}</span>
                    </li>
                </ul>
            </main>
            <aside class="sidebar" sidebar ng-if="hasSidebar"></aside>
        </div>
    </body>
</html>